body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.img-fluid {
    max-width: 80%;
    height: auto;
    margin-top: 10px;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    vertical-align: middle;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
